<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string><![CDATA[https://bkdevops.qq.com/bkrepo/api/external/repository/api/share/sogouinputios/pipeline/p-0fee6517c0f646b5b9a3920ce000f894/b-139d5032ebef4a73b420332d1809d4c7/SogouInput-11.10.0-20220922-35176-0d8fd10374.ipa?token=5c0464dbb05f4d90b443975cbf82e66a&download=true&userId=mhoomli]]></string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>needs-shine</key>
                    <false/>
                    <key>url</key>
                    <string><![CDATA[https://bkdevops.qq.com/bkrepo/api/staticfile/bkdevops/app-icon/app-icon/ipa/7ee6c010c66997c76724aea78e9a2c992d6369634c53d463022b3ecf02293982.png]]></string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string><![CDATA[com.sogou.sogouinputinhouse]]></string>
                <key>bundle-version</key>
                <string><![CDATA[11.10.0]]></string>
                <key>title</key>
                <string><![CDATA[11.10.0搜狗输入法]]></string>
                <key>kind</key>
                <string>software</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>